.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Input-wrapper{
  display:flex;
  justify-content: center;
  width:100%;
  align-items:center;
  text-align: center;
 
}

.wrapper{
  background: #000;
  padding:30px;
  border-radius:7%;
 
}

.Input-wrapper input{
  border-radius:4%;
  border:none;
  background-color: #ede7fe;
  width:160px;
  padding:6px;
  height:20px;
  margin-right:20px;
  outline:none;
}

.Input-wrapper button{
  width:30px;
  height:30px;
  border-radius:50%;
  padding:0;
}

.item{
  display:flex;
  justify-content:space-between;
  margin:20px;
  padding:10px;
}

.item li{
  margin-right:20px;
}

.item button{
  height:30px;
  width:30px;
  border-radius: 50%;
  padding:0;
}